.show{
    width: 100%;
    height:100%;
    margin-left:10px;
     border-radius:5px;
     padding: 5px;
    }
    .prod{
    margin-Left:1px;
    width: 100% ;
    height:  70%;
    object-fit:cover;
   
    
    }
    .show button{
        width: 35%;
        height:15%;
        transform:translateY(5px);
        padding: 10px;
        border:  2px solid black;
        border-Radius: 5px;
        background-color: rgb(151, 151, 237);
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }