.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.main {
  text-align: center;
}

.prof {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

h1 {
  margin: 10px 0;
}

hr {
  border: 1px solid #ccc;
}

.body {
  margin-top: 20px;
  padding: 10px;
  background-color:bisque;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.footer {
  margin-top: 20px;
}

/* Style for the Edit Profile button */
.Button {
  margin-top: 20px;
  background-color: blue;
}
