*{
    border: none;
    padding: none;
}
a {
    color: #fdf6f6;
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
.topbar-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #181c1c;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: center;
    
;
}