/* /* .learning-progress {
    text-align: center;
    margin-top: -5px;
  }
  
  .progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 25px;

  }
  
  .progress {
    height: 100%;
    background-color: #41b883;
    border-radius:25px;
    transition: width 0.3s ease;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #cbc7c7e4;
  }
  
  .navbar-brand {
    transform:translateX(-200px);
    font-size: 20px;
    font-weight: bold;
    color:blue;
  }
  
  .search-form {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 8px;
    transform:translateX(-500px);
    width:500px;
    border: none;
    border-radius: 4px;
  }
  
  .search-button {

    transform:translateX(-475px);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-button i {
    /* Assuming you are using Font Awesome for the search icon */

  .it{
    transform:translateX(50px);
  }

  .delta
  {
    transform:translateX(-600px);
  }
  .delta button[type='submit']{
    width: 10%;
    margin-top:30px;
    transform:translateX(70px);
    padding: 10px;
    border: 1px solid blue;
    border-Radius: 25px;
    background-color: blue;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .tstyle
  {
    font-size:30px;
    font-style:oblique;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
  .cont
  {
    
        margin-top:-300px;
        width:850px;
        padding:20px;
        border: 2px solid rgb(238, 230, 230);
        background-color: rgb(246, 241, 240);
        border-radius:25px;
        margin-left:500px;
      
  }
  .set{
    margin-top:100px;
        
        padding:20px;
        border: 2px solid rgb(30, 28, 28);
        background-color: rgb(234, 221, 220);
        border-radius:25px;
        height:250px;

  }
  .hh
  {
    transform:translateY(75px);
  }
  .cat{
    transform:translateY(50px);
     margin-left:75px;
  }


  .doll {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    margin-left:-300px;
    margin-top:20px;
    width:160vh;
    height:40vh;
    margin-left:300px;
  }
  
  .video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .slider-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .video-container {
    position: relative;
    margin-left:-100px;
    margin-top:50px;
    /* width: 100%;
    height:50%; */
    display:flex;
    
    
  }
  .video-container  iframe{
    padding-left:10px;
    
  }
  
  .video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
   


  .video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .dot {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    margin-top:20px;
    width:180vh;
    height:40vh;
    margin-left:150px;
    padding:-10px;
   
  } 
  
  